{% extends "SiteLocalBundle::layout.html.twig" %}

    {% block container %}
    <div class="jumbotron">
        <form method="post">
   
        <label for="fio_search">Фамилия</label>
        <input type="text" id="fio_search" name="fio" value="{% if data.fio %}{{data.fio}}{% endif %}" />
        <br/>
        <button class="btn btn-large btn-primary" type="submit">Найти</button>
        </form> 
    </div>

    {% if not data.fio %}
        {{ render(controller('SiteLocalBundle:Person:listAll')) }}
    {% else %}
    {% for person in persons %}
    <h5>{{ person.lastName }} {{ person.firstName }} {{ person.secName }}  ({{ person.group }}) </h5> <a class="btn" href="{{path('one_person',{'id': person.id })}}">данные &raquo;</a>


    {% else %}
        <h3>no found</h3>
    {% endfor %}
       {% endif %}

    {% endblock container %}