{% extends "SiteLocalBundle::layout.html.twig" %}

    {% block container %}

    {% if person %}
    <h4>{{person.lastName }} {{person.firstName }} {{person.secName }}</h4>

        <table class="phone_table">

            {% if  person.birthDate %}
            <tr>
                <td>Дата Рождения:</td>
                <td>{{ person.birthDate|date("d/m/Y") }}</td>
            </tr>
            {% endif %}
            {% if person.group %}
            <tr>
                <td>Группа:</td>
                <td>{{ person.group }}</td>
            </tr>
            {% endif %}
            {% if person.phone %}
            <tr>
                <td>Телефон:</td>
                <td>{{ person.phone }}</td>
            </tr>
            {% endif %}
            {% if person.skype %}
            <tr>
                <td>Skype:</td>
                <td>{{ person.skype }}</td>
            </tr>
            {% endif %}
            {% if person.mail %}
            <tr>
                <td>EMail:</td>
                <td>{{ person.mail }}</td>
            </tr>
            {% endif %}
            {% if person.personDetail%}
            <tr>
                <td>ИИН:</td>
                <td>{{ person.personDetail.iin }}</td>
            </tr>
            <tr>
                <td>Паспорт:</td>
                <td>{{ person.personDetail.passport }}</td>
            </tr>
            {% endif %}
        </table>

    {% else %}
        <h3>no found</h3>
    {% endif %}

    {% endblock container %}