{% extends "SiteLocalBundle::layout.html.twig" %}

    {% block container %}
    <div class="jumbotron">
        <form method="post">
   
        <label for="phone_id">ID телефона</label>
        <input type="text" id="phone_id" name="phone_id" value="{% if data.phone_id %}{{data.phone_id}}{% endif %}" />
    
        <label for="number">Номер телефона</label>
        <input type="text" id="number" name="number" value="{% if data.number %}{{data.number}}{% endif %}" />
        <br/>
        <button class="btn btn-large btn-primary" type="submit">Найти</button>
        </form> 
    </div>


    {% for phone in phones %}
    <h5>Номер: {{phone.number}}</h5>

            {% for account in phone.getPaymentAccounts %}
        <table class="phone_table">
            <tr>
                <td>Платежная система:</td>
                <td>{{ account.paymentSystem }}</td>
            </tr>
            <tr>
                <td>ФИО:</td>
                <td>{{ account.user.lastName }} {{ account.user.firstName }} {{ account.user.secName }}  ({{ account.user.group }}) <a class="btn" href="{{path('one_person',{'id': account.user.id })}}">данные &raquo;</a></td>
            </tr>
            <tr>
                <td>Логин:</td>
                <td>{{ account.login }}</td>
            </tr>
            {% if account.secretCode %}
            <tr>
                <td>Секретный вопрос:</td>
                <td>{{ account.secretCode }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Статус:</td>
                <td>{{ account.status }}</td>
            </tr>
            {% if account.comment %}
            <tr>
                <td>Комментарий:</td>
                <td>{{ account.comment }}</td>
            </tr>
            {% endif %}
        </table>
            {% endfor %}

    {% else %}
        <h3>no found</h3>
    {% endfor %}


    {% endblock container %}